.sort{
    width: 100%;
}

.sort-drop .dropdown-toggle{
    background-color: rgb(255, 153, 0);
    border-color: rgb(255, 153, 0);
}

/* .sort-drop:hover{
    background-color: rgb(255, 153, 0);
    border-color: rgb(255, 153, 0)
} */
