.login-btn{
    background-color: rgb(178, 51, 204);
    border-color: rgb(178, 51, 204) ;
    color:white
}

.login-btn:hover{
    background-color: rgb(139, 37, 160);
    border-color: rgb(201, 201, 201) ;
    color: white;
    font-weight: bold;
}