.find-match-button-float{
    position: absolute
    ;
    /* bottom: 50px; */
    transform: translateY(-10vh);
    margin-left: auto;
    /* width: 30vw; */
    height: 20vw;
}

.invisible {
    display: none;
  }

  .find-match-button-float-col{
    background-color: rgb(178, 51, 204);
    border-color: rgb(178, 51, 204) ;
  }

  .find-match-button-float-col:hover{
    background-color: rgb(139, 37, 160);
    border-color: rgb(201, 201, 201) ;
    color: white;
    font-weight: bold;
  }


  /* .btn-filter{
    background-color: rgb(178, 51, 204);
    border-color: rgb(178, 51, 204) ;
    color:white
}

.btn-filter:hover{
    background-color: rgb(139, 37, 160);
    border-color: rgb(201, 201, 201) ;
    color: white;
    font-weight: bold;
} */